<!-- templates page for change password -->
{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
  <title>Изменение пароля | Журнал обучения </title>
{% endblock title %}

{% block header %}
 <h2>Измените свой пароль</h2>
{% endblock header %}

{% block content %}
  <form method="post" action="" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <button name="submit" class="btn btn-primary">Отправить</button>
    {% endbuttons %}
  </form>
{% endblock content %}