<!-- page templates for done change password -->
{% extends 'base.html' %}

{% block title %}
  <title>Завершение изменение пароля | Журнал обучения </title>
{% endblock title %}

{% block header %}
  <div class='jumbotron'>
      <h1>Завершение изменение пароля:</h1>
  </div>
{% endblock header %}

{% block content %}
  <h2>Поздравляем ! Вы успешно изменили свой пароль !</h2>
  <h2><a href="{% url 'users:user' user.username %}">Нажмите</a>, чтобы вернуться на вашу страницу.</h2>
{% endblock content %}