<!-- page templates for confirmation reset password -->
{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
  <title>Подтверждение сброса пароля | Журнал обучения </title>
{% endblock title %}

{% block header %}
 <h2>Подтвердите сброс пароля:</h2>
{% endblock header %}

{% block content %}

  {% if validlink %}
    <form method="post" action="" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}

      {% buttons %}
        <button name="submit" class="btn btn-primary">Отправить</button>
      {% endbuttons %}

    </form>

  {% else %}

    <h2>Ошибка сброса пароля</h2>

  {% endif %}

{% endblock content %}