<!-- templates complete registration -->
{% extends 'base.html'  %}

{% block title %}
  <title>Переотправление письма | Журнал обучения </title>
{% endblock title %}

{% block header %}
  <div class='jumbotron'>
      <h1>Переотправление письма для подтверждения регистрации:</h1>
  </div>
{% endblock header %}

{% block content %}
  <h2>Пользователь, мы отправили вам письмо на почту с инструкциями для активации аккаунта.</h2>
  <br>
  <h2>При возникновении дополнительных вопросов напишите администратору - alekseyserzh88@gmail.com.</h2>
{% endblock content %}