<!-- templates home page -->
{% extends 'base.html' %}

{% block header %}
  <div class='jumbotron'>
    <h1>Ваш электронный блокнот:</h1>
  </div>
{% endblock header %}

{% block content %}
  <h2>
    <li><a href="{% url 'registration_register' %}">Зарегистрируйтесь создав новый аккаунт</a> чтобы
    создать свой собственный журнал обучения и вы сможете перечислить темы, которые вы изучаете.</li>
  </h2>
  <h2>
    <li>После завершения регистрации выберите вверху раздел "Темы", создайте новую тему и
    добавьте пару записей.</li>
  </h2>
  <h2>
    <li>Всякий раз, когда вы узнаете что-то новое о теме, сделайте запись,
    суммирующую то, что вы узнали.</li>
  </h2>
  <h2>
    <li>Также вы можете редактировать название темы и записи в выбранной теме, удалить не нужные
    темы с записями.</li>
  </h2>
  <h2>
    <li>Также ознакомьтесь со вкладкой "Моя страница", "Мой черновик"</li>
  </h2>
{% endblock content %}